.example-section h3 {
  font-weight: 500;
  letter-spacing: 0.03rem;
  margin-bottom: 5px;
  color: #171717;
}

.example-section .mat-checkbox {
  margin-right: 20px;
}

.ngx-slider ::ng-deep.ngx-slider-pointer,
.ngx-slider ::ng-deep.ngx-slider-selection {
  background-color: #000;
}

.ngx-slider ::ng-deep.ngx-slider-pointer {
  width: 19px;
  height: 19px;
  top: -7px;
}

.ngx-slider ::ng-deep.ngx-slider-pointer::after {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  background-color: #fff !important;
}

.ngx-slider ::ng-deep.ngx-slider-bubble {
  font-size: x-small;
}

.btn_reset {
  border: 1px solid #000;
  margin: 0 20px;
  border-radius: 2px;
}

.btn_apply {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
}


.mat-checkbox ::ng-deep.mat-ripple-element,
.mat-checkbox-checked ::ng-deep.mat-checkbox-background {
  background: #000 !important;
}
