<ng-container *ngIf="product">
  <div class="row mb-4 py-3">
    <div class="col-4">
      <div class="d-flex align-items-center w-100 h-100">
        <img [src]="product.coverImage" [alt]="product.name" style="width: 100%; height: auto;">
      </div>
    </div>
    <div class="col-8">
      <div class="d-flex flex-column justify-content-between h-100 w-100">
        <div class="row">
          <div class="col-12">
            <h1 class="mb-0 cart_item_title">
              {{ product.name }}
            </h1>
            <h3 class="text-muted mb-0">
              {{ product.category }}
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <mat-form-field class="w-100 mt-1" appearance="outline">
              <mat-label>Size</mat-label>
              <mat-select [(ngModel)]="selectedSize">
                <mat-option value="none">Select size</mat-option>
                <mat-option *ngFor="let size of sizes" (click)="updateSize()" [value]="size.value" [disabled]="!size.available">{{
                  size.value }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="w-100 mt-1" appearance="outline">
              <mat-label>Quantity</mat-label>
              <mat-select [(ngModel)]="selectedQuantity">
                <mat-option *ngFor="let qty of quantities" (click)="updateQuantity()" [value]="qty">
                  {{ qty }}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h2 class="mb-0">
              &#8377; {{ price }}
            </h2>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button mat-button color="warn" (click)="_customerService.removeFromCart(cartItem)">Remove</button>
          </div>
        </div>
      </div>


    </div>
  </div>
</ng-container>
<hr *ngIf="!isLast" style="color: lightgray;">
